.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    background-color: white;
    border-bottom: 1px solid black;
    margin-bottom: 4rem;
  }

  .home-toolbar{
    margin-bottom: 0;
    border: none;
  }
  
  .title a {
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color: black;
    font-family: "Playfair Display", serif;
  }
  
  .spacer {
    flex: 1;
  }
  
  nav {
    display: flex;
    gap: 100px;
  }
  
.other_pages {
    color:black;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 22px;
    font-family: "Poppins", serif;
    font-weight: 300;
  }
  
.other_pages:hover {
    color: rgb(145, 41, 41); /* Accent color for hover effect */
  }

  button{
    background: none;
    border: none;
    font-size: 0.9em;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    z-index: 2;
    border: 1px solid rgb(227, 227, 227);
    padding-top: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }
  
  .dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-family: "Poppins", serif;
    font-weight: 300;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .title, nav{
    padding-top: 18px;
  }
  
  