.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    margin-bottom: 5%;
    background-color: white;
    height: 500px;
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), 
                url(https://listingsproject-contentful.imgix.net/https%3A%2F%2Fimages.ctfassets.net%2Fc3tjs6qh1ryg%2F2am1LopOVw1pBB22bZv8yG%2Fca28a36ea9da4f9e3db392d806b81afb%2FStudioview_ugoretz.jpeg?max-w=1280&fit=min&auto=compress,format&s=d4f39ea4af96cb6a39a5f2e7a4ed6f23);
    background-size: cover;
    background-repeat: none;
    background-position: fixed;
  }
  
  .title a {
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    color: white;
  }
  
  .spacer {
    flex: 1;
  }
  
  nav {
    display: flex;
    gap: 100px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 23px;
  }
  
  nav a:hover {
    color: rgb(145, 41, 41); /* Accent color for hover effect */
  }

  button{
    background: none;
    border: none;
    font-size: 0.9em;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 150px;
    z-index: 2;
    border: 1px solid black;
    padding-top: 20%;
    border: none;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
  }
  
  .dropdown-menu a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .title, nav{
    padding-top: 18px;
  }
  
  