<mat-toolbar class="toolbar" [ngClass]="{'home-toolbar': isHome}">
    <span class="title">
        <a routerLink="">Palette</a>
    </span>
    <span class="spacer"></span>


    <button class="hamburger" (click)="toggleSideMenu()">
      &#9776; <!-- Hamburger Icon -->
    </button>

    <!-- top nav bar when the screen is large enough -->
    <nav class = "hide-on-small">
      <button><a routerLink="/about" class="other_pages">About</a></button>
      <div class="dropdown">
        <button class="other_pages">Artworks</button>
        <div class="dropdown-menu">
          <a routerLink="/paintings">Paintings</a>
          <a routerLink="/drawings">Drawings</a>
          <a routerLink="/photography">Photography</a>
          <a routerLink="/ceramics">Ceramics</a>
        </div>
      </div>
      <button><a routerLink="/artists" class="other_pages">Artists</a></button>
      <button><a routerLink="/submit" class="other_pages">Submit</a></button>
    </nav>
  </mat-toolbar>
  
  <!-- side nav bar opened using the hamburger button -->
  <div class="side-menu" [ngClass]="{'open': isSideMenuOpen}">
    <button class="close-btn" (click)="toggleSideMenu()">✖</button>
    <a routerLink="/about">About</a>
    <a routerLink="/paintings">Paintings</a>
    <a routerLink="/drawings">Drawings</a>
    <a routerLink="/photography">Photography</a>
    <a routerLink="/ceramics">Ceramics</a>
    <a routerLink="/artists">Artists</a>
    <a routerLink="/submit">Submit</a>
  </div>