<app-tool-bar></app-tool-bar>

<div class="all-artists">
    @for (artist of paletteService.artists$ | async; track $index){
       <mat-card class="artist-card">
            <a routerLink="/artist/{{artist.id}}">
                <mat-card-header>
                    <mat-card-title>
                        <div class="image-container">
                            <img class="artist-img" src="{{artist.image}}" alt="">
                        </div>
                        <div class="artist-details">
                            <h3 class="artist-name">{{artist.name}}</h3>
                            <p class="artist-class">{{artist.class}}</p>
                        </div>
                    </mat-card-title>
                </mat-card-header>
            </a>
       </mat-card>
    }
</div>
