*{
    text-decoration: none;
    color: black;
}

.all-artists{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 15px;
}

.artist-card{
    border-radius: 0;
    background-color: white;
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.artist-img{
    width: 100%;
}

