*{
    text-decoration: none;
    color: black;
}

.all-artists{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,400px));
    grid-gap: 30px;
    justify-content: center;
}

.artist-card{
    border-radius: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    text-align: center;
    justify-content: center;
}

.artist-card:hover{
    translate: 0 -5px;
    transition: 0.3s;
  }


.artist-img{
    width: 380px;
    max-height: 380px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

mat-card-header{
    padding: 10px;
}

.artist-details {
    margin: 16px;
}

.image-container{
    display: flex;
    height: 380px;
}
