<app-tool-bar></app-tool-bar>
<app-artwork-card></app-artwork-card>



<!-- <mat-grid-list cols="4" rowHeight="350px" class="artwork-grid">
    <mat-grid-tile>
        @for (artwork of artworks; track $index){
      <mat-card class="artwork-card">
        <img mat-card-image [src]="artwork.image" alt="Artwork image">
        <mat-card-content>
          <h3>{{ artwork.title }}</h3>
          <p>{{ artwork.artist }}, {{ artwork.year }}</p>
          <p>{{ artwork.price }}</p>
        </mat-card-content>
      </mat-card>
    }
    </mat-grid-tile>
  </mat-grid-list> -->
  