rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read and write to all documents for testing
    match /{document=**} {
      allow read, write;
    }
  }
}
