<app-tool-bar></app-tool-bar>


<div #f="ngForm" [formGroup]="authForm" class="form-container">
    <p class="form-group">
        <label>Admin Username:</label>
        <input type="text" formControlName="username" placeholder="Enter admin username">      
    </p>

    <p class="form-group">
        <label>Admin Password:</label>
        <input type="password" formControlName="password" placeholder="Enter admin password">      
    </p>

<div class="buttons">
    <!-- disable navigating to the submit button by using the tab button until the form is valid and authorized -->
    <a routerLink="/submit-artwork" [attr.tabindex]="(!authForm.valid || !isAuthorized())? -1: 0">
        <button class="submit-button" type="submit" (click)="onArtworkSubmit()" [disabled] = "!authForm.valid || !isAuthorized()"> Submit Artwork </button>
    </a>

    <!-- disable navigating to the submit button by using the tab button until the form is valid and authorized -->
    <a routerLink="/submit-artist" [attr.tabindex]="(!authForm.valid || !isAuthorized())? -1: 0">
        <button class="submit-button" type="submit" (click)="onArtistSubmit()" [disabled] = "!authForm.valid || !isAuthorized()"> Submit Artist </button>
    </a>
    
</div>

</div>