<app-tool-bar></app-tool-bar>

@let artworkDetail = currArtwork$();
    <!-- if there is an artwork, display it -->
    @if (artworkDetail){
        <div class="art">
            <div class="art-img">
                <img src="{{artworkDetail.image}}" alt="">
            </div>
            <div class="art-desc">
                <p class="artist-name">{{ artworkDetail.artist }}</p>
                <hr>
                <h3 class="art-title">{{artworkDetail.title}}</h3>
                <div class="details">
                    <p>{{ artworkDetail.description }}</p>
                    <p>{{ artworkDetail.medium }}</p>
                    <p>{{artworkDetail.dimensions}}</p>
    
                    @if (artworkDetail.price){
                        <p>${{ artworkDetail.price }}</p>
                    }
                </div>
                
            </div>
        </div>
    }