/* .all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 20px;
}

mat-card{
    display: flex;
    width: 300px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 15px;
    border: none;
    justify-content: center;
}

.img{
    margin: auto;
} */

.all-cards {
    column-count: 3; 
    column-gap: 20px; 
    width: fit-content;
}

mat-card:hover{
    translate: 0 -5px;
    transition: 0.3s;
  }

mat-card {
    display: inline-block; 
    margin-bottom: 20px; 
    width: 100%; 
    background-color: white;
    border-radius: 15px;
    border: none;
    transition: 0.3s;
}

mat-card img {
    width: 100%; 
    height: auto; 
    display: block; 
}

@media (max-width: 900px) {
    .all-cards {
        column-count: 2;
    }
}

@media (max-width: 480px) {
    .all-cards {
        column-count: 1; /* Single column on small screens */
    }
}


