<div class="all-cards">
    @let artistDetail = currArtist$();
    @for (artwork of paletteService.artworks$ | async; track $index){
        @if (isHome){

            <mat-card appearance="outlined" >
                <a routerLink="/art/{{artwork.id}}">
                <img src="{{artwork.image}}" alt="">
                </a>
            </mat-card>  
        } @else {
            @if (artistDetail!.name === artwork.artist) {
                <mat-card appearance="outlined">
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card>
            }
        }
    }
</div>



