.all-cards {
    column-count: 4; 
    column-gap: 17px; 
    width: fit-content;
}

mat-card:hover{
    translate: 0 -5px;
    transition: 0.3s;
  }

mat-card {
    display: inline-block; 
    margin-bottom: 20px; 
    width: 100%; 
    background-color: white;
    border-radius: 15px;
    border: none;
    transition: 0.3s;
}

mat-card img {
    width: 100%; 
    height: auto; 
    display: block; 
}

@media (max-width: 1100px) {
    .all-cards {
        column-count: 3;
    }
}

@media (max-width: 800px) {
    .all-cards {
        column-count: 2;
    }
}

@media (max-width: 520px) {
    .all-cards {
        column-count: 1; 
    }
}




