<div class="all-cards">
    @for (artwork of paletteService.artworks$ | async; track $index){
        <mat-card appearance="outlined" >
            <a routerLink="/art/{{artwork.id}}">
            <img src="{{artwork.image}}" alt="">
            <!-- <mat-card-header>
                <mat-card-title class="art-title">
                    <h3>{{ artwork.title }}</h3>
                </mat-card-title>
                <mat-card-subtitle class="art-subtitle">
                    <p>{{ artwork.artist }}</p>
                    <p>{{ artwork.price }}</p>
                </mat-card-subtitle>               
            </mat-card-header> -->
            </a>
        </mat-card>  
    }
</div>



