<div class="all-cards">
    @let artistDetail = currArtist$();
    <!-- loop through all the artworks -->
    @for (artwork of paletteService.artworks$ | async; track $index){

        <!-- if it is the home page, display all the artworks -->
        @if (isHome){
            <mat-card appearance="outlined" >
                <a routerLink="/art/{{artwork.id}}">
                <img src="{{artwork.image}}" alt="">
                </a>
            </mat-card>  
        }

        
        <!-- filter by categories -->

        <!-- if the current page is paintings, check if the category is "paintings" -->
        @if (isPaintings){
            @if (artwork.category === paintings) {
                <mat-card appearance="outlined" >
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card> 
            } 
        }

        <!-- if the current page is drawings, check if the category is "drawings" -->
        @if (isDrawings){
            @if (artwork.category === drawings) {
                <mat-card appearance="outlined" >
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card> 
            } 
        }

        <!-- if the current page is ceramics, check if the category is "ceramics" -->
        @if (isCeramics){
            @if (artwork.category === ceramics) {
                <mat-card appearance="outlined" >
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card> 
            } 
        }

        <!-- if the current page is photography, check if the category is "photography" -->
        @if (isPhotography){
            @if (artwork.category === photography) {
                <mat-card appearance="outlined" >
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card> 
            } 
        }

        <!-- if the current page is an artist detail page, check if the artwork is by that particular artist -->
        @if(isArtist){
            @if (artistDetail!.name === artwork.artist) {
                <mat-card appearance="outlined">
                    <a routerLink="/art/{{artwork.id}}">
                    <img src="{{artwork.image}}" alt="">
                    </a>
                </mat-card>
            }
        }
    }
</div>



