<app-tool-bar></app-tool-bar>
<div class="about-us">
    <h1>ABOUT US</h1>
    <p>
        Palette is an online art gallery showcasing an exceptional
        collection of original paintings, drawings, sculptures and photography by Calvin
        art students. This is a platform to exhibit their creative works and draw 
        inspiration from a diverse community of artists and creators. By offering a space 
        for showcasing, selling, and connecting, Palette aims to 
        empower Calvin art students, celebrate their creativity, and nurture a supportive artistic community.

    </p>
</div>
<div class="contact">
    <p>Want to submit your artwork, ask questions or provide suggestions?</p>
    <p>Contact us:</p>
    <p>palette.gallery&commat;gmail.com</p>
    <p>616-XXX-XXXX</p>

</div>